/* font size use em/ rem  and width as a % */
.invisible{
    display: none;
   }

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
   

  }
body{
    font-family: 'Work Sans', sans-serif;


}
section{

   
   margin-top: 70px;
   margin-bottom: 70px;
} 
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.common-btn{
    font-size: 1.3rem;
    color:#FFFFFF;
    background-color: #FF900E;
    padding: 20px 24px;
    border-radius: 8px;
    border: 0;

}

/* header section */
.header{
   /* width: 100%; */
   padding: 32px;
   background-color: rgba(255, 144, 14, 0.1);;
}

nav{
   
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
}
.nav-title{
    color:  #131313;
    font-weight: 700;
    font-size: 2.5rem;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
   list-style: none;
   margin-left: 56px;
}
nav li a{
    text-decoration: none;
    color:#424242;
    font-size: 1.1rem;
    font-weight: 500; 
}

.new-group-architect{
    margin-top: 112px;
    text-align: center;
}
.new-group-title{
   color: #131313;
   font-weight: 700;
   line-height: 76px;
   font-size: 4rem;
}
.new-group-details{
   display: block;
   margin: 32px 128px;
    text-align: center;
    color: #727272;
    font-weight: 400;
    line-height: 26px;
    font-size: 1rem;
}

.new-group-architect-image img{
    width: 90%;
    display: block;
    margin: 32px auto 0 auto;
 
}

/* quick list section */
.quick-list-container{
    display: flex;
    gap: 48px;
    margin: 48px 144px;
    justify-content: center;
    align-items: center;
}
.quick-list-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}
.quick-list-header{
   font-weight: 500;
   font-size: 2.8rem;
   line-height: 51px;
}
.second-header-color{
   color:#727272;
}
.default-header-color{
    color: #131313;
}
.third-header-color{
    color: #FF900E;
}
.quick-list-description{
    font-weight: 400;
   font-size: 1rem;
    line-height: 25px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 24px;
}


/* features section */
.features-container{
    display:flex;
    padding: 48px;
    gap: 4rem;
}
.features-description-container{
    width: 50%;
    margin-left: 5%;
}
.features-header{
    font-weight: 700;
    color: #131313;
    line-height: 53px;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding: 0 16px;
    margin-bottom: 24px;
}
.features-description{
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-bottom: 28px;
    font-size: 1rem;
}

.features{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;
}
.features h4{
    font-weight: 600;
font-size: 1.25rem;
line-height: 23px;
color: #131313;
margin-bottom: 10px;
}
.features p{
    font-weight: 400;
font-size: 1rem;
line-height: 26px;
color: #727272;

}
.feature-image{
    width:50%;
}
.feature-image img{
    width: 90%;
    height: 100%;
}
.experience-info{
    text-align: center;
    background-color:#FF900E;;
    width: 18vw;
    /* width:50%; */
    border-radius: 8px;
    padding: 30px 20px;
    color: #FFFFFF;
    margin-top: -90px;
    z-index: 1;
    position: relative;
    left: -50px;
    line-height: 40px;
    font-weight: 500;

}
.experience-info h1{
  font-size: 3rem;
}
.experience-info p{
   font-size: 1.5rem;
}


/* some facts section */
.facts-container{
    padding-left: 80px;
}
.facts-header{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 24px;
    color: #131313; 
}
.facts-description{
    font-weight: 400;
font-size: 1rem;
line-height: 26px;

/* padding-bottom: 84px; */
color: #727272;
}
.facts-info-container{
   display: flex;
   justify-content: space-evenly;
   margin-left: auto;
  margin-right: auto;
  
   margin-top: 100px;
}
.facts-image{
   border: 1px solid #ff900e;
   
   border-radius: 8px;

  
    padding: 40px 30px;
    text-align: center;
    width: 241.83px;
    transition: transform .7s ease-in-out .1s;
    line-height: 40px;
}
.facts-image:hover{
    transform: scale(1.2);
}
.facts-image img{
  width: 45.22px;
  height: 45.22px;
}
.facts-image h3{
    font-weight: 600;
    font-size: 2.5rem;
    color: #424242;
}


.facts-image p{
    font-weight: 600;
    font-size: 1.25rem;
   
    color: #727272;
    
}

/* Our sponsors */

.sponsors-info{
   width:542px;
   margin: auto;
   text-align: center;
}
.sponsors-info h2{
    font-weight: 700;
    font-size: 2.8rem;
   margin-bottom: 24px;
    color: #131313;
    
}
.sponsors-info p{
    font-weight: 400;
font-size: 1rem;
line-height: 26px;
color: #727272;
margin-bottom: 70px;

}

.sponsors-agency{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
   
    
}
.sponsors-agency img{
    width: 150px;
    height: 50px;
    margin-bottom: 60px;
}
/* footer */
.footer{
    background: #FFF4E7;
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px;
    font-weight: 400;
    text-align: center;
    color:#424242;
    font-size: 1.25rem;
    width: 90%;
    margin-bottom: 80px;


 
}

/* for mobile devices */

@media only screen and (max-width:576px) {
    .header{

        /* width: 100vw; */
        /* padding: 32px; */
        

       
        /* height: auto;
        clear: both; */
        text-align: center;
     }
     .new-group-architect-image img{
        width: 100%;
       
     
    }
/* quick list section */
.container{
  width: 100%;
}
    .quick-list-container{
        display: block;
        gap: 48px;
        margin: 48px 144px;
        justify-content: center;
        /* align-items: center; */
        margin-bottom: 16px;
    }
    .quick-list-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        width: 100%;
       
      }

  
}

/* tablet devices */
@media only screen and (min-width:768px) and (max-width:992px){
   
}